<!-- Book -->
<div class="container roomform" id="roomform">
    <h1 class="mt-4 mb-4 text-center text-primary"><b>Danh sách phòng</b></h1>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-3">
                    <input type="text" name="search" id="search" class="form-control" placeholder="Tìm kiếm"/>
                </div>
                <div class="col-2">
                    <button type="button" id="search" class="btn btn-success   search">Tìm kiếm</button>
                </div>
            </div>
        </div>
        <div class="card-body totalroom" id="totalroom">
            
        </div>
    </div>
</div>


<!-- Bookdetail -->
<div class="container bookingform" id="bookingform" >
    <h1 class="mt-4 mb-4 text-center text-primary"><b>Phiếu đặt phòng</b></h1>

    <span id="message"></span>
    <div class="card">
        <form id="bookformdetail" class="bookformdetail">
            <input id="bookid" class="bookid" name="bookid" hidden>
            <div class="card-header">            
                <div class="row align-items-center">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Phòng</label>
                            </div>
                            <div class="col">
                                <label class="form-label">Thanh Toán</label>
                            </div>
                            <div class="col">
                                <label class="form-label">Ngày Thuê</label>
                                
                            </div>
                            <div class="col">
                                <label class="form-label">Ngày Trả</label>
                                                        
                            </div>
                            <div class="col">                                
                                                        
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control idroom"  id="idroom" name="idroom" hidden>
                                <select name="roomid" id="roomid" class="form-select roomid" >
                                </select>
                            </div>
                            <div class="col">
                                <select name="paymentid" id="paymentid" class="form-select paymentid">
                                </select>
                            </div>
                            <div class="col">
                                <input type="datetime-local" class="form-control checkindate"  id="checkindate" name="checkindate" required>
                            </div>
                            <div class="col">
                                <input type="datetime-local" class="form-control checkoutdate"  id="checkoutdate" name="checkoutdate" required>
                            </div>
                            <div class="col">
                                <button type="button" id="saveRoom" class="btn btn-success saveRoom">Lưu Phòng</button>
                            </div>
                        </div>                 
                    </div>
                </div>
                <div class="row"></div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-3">
                                <label class="form-label">Khách hàng / Dịch vụ phòng</label>
                            </div>
                            <div class="col-1">
    
                            </div>
                            <div class="col-1"></div>
                            <div class="col-2"></div>
                            <div class="col-2">
                                <label class="form-label"><h5>Tổng tiền tạm tính</h5></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <select name="itemId" id="itemId" class="form-select itemId">
                                    <option value="customer">Khách hàng</option>
                                    <option value="roomservice">Dịch vụ phòng</option>
                                </select>
                            </div>
                            <div class="col-1">
                                <button type="button" id="addItems" class="btn btn-success addItems">Thêm</button>
                            </div>
                            <div class="col-1">
                                <button type="button" id="saveBook" class="btn btn-success saveBook">Lưu</button>
                            </div>
                            <div class="col-2">
                                <button type="button" id="payBook" class="btn btn-success payBook">Thanh toán</button>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control displaytotalmoney"  id="displaytotalmoney" name="displaytotalmoney" readonly>

                                <input type="text" class="form-control totalmoney"  id="totalmoney" name="totalmoney" hidden>
                            </div>
                        </div>                    
                    </div>
                </div>                    
            </div>
            <div class="card-body">
                <div class="row tablecustomer" id="tablecustomer">                                         
                </div>
                <div class="row tableroom" id="tableroom">                
                </div>
                
                <div class="row tableroomservice" id="tableroomservice"> 
                                   
                </div> 
                               
            </div>
                        
        </form>        
    </div>
</div>

<!-- Customer -->
<div class="modal" tabindex="-1" id="actionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="customerForm" class="customerForm">
                <div class="modal-header" id="dynamicModalTitle">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">FullName</label>                        
                        <input type="text" name="fullname" list="listcustomer" id="fullname" class="form-control"  required/>
                        <datalist id="listcustomer">

                        </datalist>
                    </div>
                    <div class="searchInfoCustomer" id="searchInfoCustomer"></div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" id="id" />
                    <input type="hidden" name="action" id="action" value="Add" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="actionButton">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Roomservice -->
<div class="modal" tabindex="-1" id="actionModalRoom">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="roomServiceForm" class="roomServiceForm">
                <div class="modal-header" id="dynamicModalTitleRoom">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">RoomServicename</label>
                        <input type="text" name="roomservicename" list="listRoomService" id="roomservicename" class="form-control"  required/>
                        <datalist id="listRoomService">

                        </datalist>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Quantity</label>
                        <input type="number" name="quantity" id="quantity" class="form-control quantity" required/>
                    </div>
                                     
                </div>
                <div class="modal-footer">
                    
                    <input type="hidden" name="action" id="action" value="Add" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="actionButtonRoom">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
 


<script>
    const statusRoom = ['SANSANG', 'DANGTHUE', 'VESINH', 'BAOTRI']
    const ViewModeCustomer = ["CREATE","EDITCUSTOMER","DELETECUSTOMER"]
    const ViewModeServiceDetail = ["CREATE","EDITSERVICEDETAIL","DELETESERVICEDETAIL"]
    var totalRoom = 0;
    var saveRoom = false;
    var totalRoomService = 0;
    var htmlOptionRoom =``;
    var htmlOptionCustomer = ``;    
    var htmlOptionRoomService = ``;
    var infoRoom =``;
    var htmlOptionPayment = ``;
    var room = {};
    var rooms = [];
    var roomid = 0;
    var customers = [];   
    var customerDetails = [];
    var bookId = 0;
    var book ;
    var bookDetails;
    var customersBook =``;
    var roomServices = [];
    var indexRoomService ;
    var indexCustomer ;
    var roomServiceDetails = [];
    var serviceBook =``;
    var payments = ``;
    var sttCustomer = 0;
    var sttRoomservice = 0;
    var loadBookIsPay = false;
    var statusMode = "DEFAULT";
    const viewMode = ["GET", "POST", "PUT", "DELETE"];
    var indexMode = "POST";
    const BOOKMODE = ['GET', 'POST', 'PUT', 'DELETE'];
    var bookViewMode = 'POST';
    var htmlRoom ="";

    const headerCustomer = `
                <div class="col">
                    <h4>Khách hàng</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="bookdetaildata">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">SDT</th>
                                    <th scope="col">CCCD</th>
                                    <th scope="col">Loại khách</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>`;
    var bodyCustomer =``;

    const footerCustomer = `</tbody>
                        </table>
                    </div>
                </div>
    `;
    const headerRoom = `
                <div class="col">
                    <h4>Thông tin phòng</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="roomdetail">
                            <thead>
                                <tr>
                                    <th scope="col">Tên Phòng</th>                                    
                                    <th scope="col">Ngày Thuê/ Trả</th>                                 
                                    <th scope="col">Tổng ngày thuê (>8 giờ = 1 ngày)</th>
                                    <th scope="col">Đơn giá/ngày (VND)</th>
                                    <th scope="col">Đơn giá/giờ (VND)</th>
                                    <th scope="col">Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>`;
    var bodyRoom =``;

    const footerRoom = `</tbody>
                        </table>
                    </div>
                </div>
    `;

    const headerRoomService =`
                <div class="col">
                    <h4>Dịch vụ phòng</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="serviceroom_data">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên Dịch vụ</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Đơn giá (VND)</th>
                                    <th scope="col">Thành tiền (VND)</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            `
    
    var bodyRoomService = ``;
    const footerRoomService = `</tbody>
                        </table>
                    </div>
                </div>
    `;
    
    const displayRoomServiceDetail = () => {
        if(bodyRoomService.length > 0){
            document.querySelector('#tableroomservice').innerHTML = headerRoomService + bodyRoomService + footerRoomService;
        }   else {
            document.querySelector('#tableroomservice').innerHTML = '';
        }
    }
    const displayCustomerDetail = () => {
        if(bodyCustomer.length > 0){
            document.querySelector('#tablecustomer').innerHTML = headerCustomer + bodyCustomer + footerCustomer;
        }   else {
            document.querySelector('#tablecustomer').innerHTML = '';
        }
    }
    const displayRoomDetail = () => {
        if(bodyRoom.length > 0){
            document.querySelector('#tableroom').innerHTML = headerRoom + bodyRoom + footerRoom;
        }   else {
            document.querySelector('#tableroom').innerHTML = '';
        }
    }
    

    const bodyRoomServicesDetail = () =>{

        this.bodyRoomService = "";

        var totalmoney = 0;
        this.bodyRoomService = ``;
        if(this.roomServiceDetails && this.roomServiceDetails.length>0){
            
            for(let j = 0; j < this.roomServiceDetails.length; j++){

                for(let i = 0 ; i < this.roomServices.length ; i++){

                    if(this.roomServiceDetails[j].id === this.roomServices[i].id) {
                        let roomservice = this.roomServices[i];
                        totalmoney += parseInt(roomservice.price) * parseInt(roomServiceDetails[j].quantity);
                        this.bodyRoomService += `
                                    <tr>
                                        <td>${parseInt(j+1)}
                                            <input id="roomserviceid" name="roomserviceid" value="${roomservice.id}" hidden>
                                        </td>
                                        <td>${roomservice.roomservicename}</td>

                                        <td>${(roomServiceDetails[j].quantity).toLocaleString(undefined)}
                                            <input id="quantityTemp${roomservice.id}" name="quantityTemp" value="${roomServiceDetails[j].quantity}" hidden>
                                        </td>

                                        <td>${parseInt((roomservice.price)).toLocaleString(undefined)}</td>

                                        <td>${(parseInt(roomservice.price) * parseInt(roomServiceDetails[j].quantity)).toLocaleString(undefined)}</td> 

                                        <td>
                                            <button type="button" class="btn btn-warning btn-sm editRoomservice" data-index="${parseInt(j+1)}" data-id="${roomservice.id}">
                                                Edit
                                            </button>
                                            &nbsp;
                                            <button type="button" class="btn btn-danger btn-sm deleteRoomservice" data-id="${parseInt(j+1)}">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                `;
                                
                    }
                }            
                
            }
            this.bodyRoomService += `
                    <tr>
                        <td></td>
                        <td>Tổng tiền</td>
                        <td></td>
                        <td></td>
                        <td>${(totalmoney).toLocaleString(undefined)}</td>
                        <td></td>
                    </tr>
                `;
            
        }
        totalRoomService = totalmoney;

        displayRoomServiceDetail();
        displaytotalBook();
    }

    const bodyRoomDetail = () =>{
        //Edit bi lõi
        this.bodyRoom = "";
        var checkindate = document.getElementById('checkindate').value;
        var checkoutdate = document.getElementById('checkoutdate').value;
        const roominputid = document.getElementById('roomid').value;
        checkindate = checkindate.toLocaleString();
        checkoutdate = checkoutdate.toLocaleString();
        console.log("checkin", checkindate)

        var hour = 0;
        var tempday = 0;
        let date1 = new Date(checkindate);
        let date2 = new Date(checkoutdate); 

        let diffInMs = date2.getTime() - date1.getTime();

        let diffInHours = diffInMs / (1000  * 60 * 60);

        var days =  diffInHours / 24;

        hour = parseInt(Math.ceil(diffInHours % 24));
        const tempHour = hour;

        tempday = Math.round(days);
        const tempdays = Math.round(days);
            // nếu thời gian giờ > 8 tiếng thì tính 1 ngày
        if(hour > 8) {
            tempday++;
            hour = 0;
        }        

        if (rooms && rooms.length >0 ) {
            for(let i =0; i< rooms.length ; i++) {
                if(roominputid === rooms[i].id + "") {
                    var temproom = rooms[i];
                    totalRoom =  Math.round( parseInt(tempday) * rooms[i].price  + parseInt(hour)*rooms[i].price/10);
                    this.bodyRoom += `
                        <tr>
                            <td>${rooms[i].roomname}</td>
                                        
                            <td>${checkindate.toLocaleString()}     /     ${checkoutdate.toLocaleString()}</td>
                            
                            <td>${tempdays} Day ${tempHour} hours</td>
                            
                            <td>${(parseInt(rooms[i].price)).toLocaleString(undefined)}</td>
                            <td>${(rooms[i].price/10).toLocaleString(undefined)}</td>
                            <td>${(totalRoom).toLocaleString(undefined)}</td>                             
                            
                        </tr>                            
                    `;
                }
            }

        }
        displayRoomDetail();
        displaytotalBook();
    }
    
    const displaytotalBook = () => {
        $("#displaytotalmoney").val(`${(totalRoom + totalRoomService).toLocaleString(undefined)}  VND`);
        $("#totalmoney").val(`${totalRoom + totalRoomService}`);
    }

    const bodyCustomerDetail = () =>{
        //Edit bi lõi
        this.bodyCustomer = "";

        for(let j = 0; j < this.customerDetails.length; j++){
            for(let i = 0 ; i < this.customers.length ; i++){

                if(this.customerDetails[j].id === this.customers[i].id) {
                    let customer = this.customers[i];
                    this.bodyCustomer += `
                                        <tr>
                                            <td >${parseInt(j+1)}
                                                <input id="customerid" name="customerid" value="${customer.id}" hidden>
                                            </td>
                                            <td>${customer.fullname}</td>
                                            <td>${customer.phone}</td>
                                            <td>${customer.citizenIdentityCard}</td>
                                            <td>${customer.customertypename}</td>                                        
                                            <td>
                                                <button type="button" class="btn btn-warning btn-sm editBookdetail" data-index="${parseInt(j+1)}" data-id="${customer.id}" >
                                                    Edit
                                                </button>
                                                &nbsp;
                                                <button type="button" class="btn btn-danger btn-sm deleteBookdetail" data-id="${parseInt(j+1)}">
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    `;
                                
                }
            }
                
        }
        displayCustomerDetail();
        
    }


    $(document).ready( function(){
    
        load_data();    
        function load_data() {  
            console.log("load_data Book")   
            bookViewMode = viewMode[1];
            document.getElementById("roomform").style.display = 'block';
            document.getElementById("bookingform").style.display = 'none';
            $.ajax({
                url: '/room/all',
                method:viewMode[0],
                dataType : "JSON",
                success:function(data)
                {
                    console.log("data  ===> ", data.data)
                    htmlRoom = "";
                    
                    if(data.success){
                        rooms = data.data;
                        
                        const tempData = data.data;

                        console.log("tempdata", tempData)
                        for(let i= 0; i<tempData.length; i++){
                            if(i%4 === 0){
                                htmlRoom += `
                                <div class="row">`;
                            }
                            htmlRoom += `
                            <div class="col-3">
                                <button type="button" class="btn `;

                            if(tempData[i].status === statusRoom[0]){
                                htmlRoom += `btn-success`;
                                
                            } else if (tempData[i].status === statusRoom[1]) {
                                htmlRoom += `btn-warning`                            
                            } else if (tempData[i].status === statusMode[2]){
                                htmlRoom += `btn-danger`;
                            }else if (tempData[i].status === statusMode[3]){
                                htmlRoom += `btn-dark`;
                            }
                            htmlRoom +=  ` btn-lg chooseroom" data-id="${tempData[i].id}">${tempData[i].roomname}
                                    </br> ${tempData[i].price} VND
                                    </br>${tempData[i].maxcustomer} Người
                                </button>
                            </div>`;
                           
                            if(i%4 ===3){
                                htmlRoom += `
                            </div> 
                            <div class="row"> </div>`;
                            } 
                        }
                    }
                    //document.getElementById('totalroom').innerHTML = htmlRoom;
                    document.querySelector('#totalroom').innerHTML = htmlRoom; 
                    
                }
            });
        }

        $(document).on('click', '.chooseroom',  function(){
            loadBookDetail();
            var id = $(this).data('id');

             $.ajax({
                url: `room/${id}`,
                method: viewMode[0],
                dataType: "JSON",
                success: async function(data) {
                    if(data.success) {
                        saveRoom = false;
                        const temp = data.data
                        room = data.data;
                        roomid = temp.id;
                        document.getElementById("roomform").style.display = 'none';
                        document.getElementById("bookingform").style.display = 'block';
                        console.log("roomid", roomid)
                        console.log("roomid", temp.id)
                        $('#roomid').val(roomid)
                        $('#idroom').val(roomid)

                        if(data.roomisuse) {
                            bookId = data.roomisuse.bookid;
                            console.log("roomisuse::",data.roomisuse)
                             loadBookByBookId(data.roomisuse.bookid);
                        } else {                            
                            indexMode = viewMode[1];
                        }            
                    }
                    
                }
            })
            
        });


        $(document).on('click', '.saveRoom',  function(){
            if(checkDate()){
                bodyRoomDetail();
                saveRoom = true;
            }
        });


        const loadBookByBookId =  (bookid ) => {
            $.ajax({
                url: `/booking/${bookid}` ,
                method: viewMode[0],
                dataType : "JSON",
                success: function( data){
                    if(data.success) {
                        console.log("loadBookByBookId ==> ", data)                        
                        book = data.book;
                        roomServiceDetails = []; 
                        customerDetails = [];
                                
                        var loadBookDetail = data.bookdetail;
                        var loadRoomServices = data.roomservicedetail;
                        bodyRoomService = "";

                        bookDetails = data.bookdetail;
                           
                                if(book && book.length >0) {
                                    
                                    let temp = book[0];

                                    var tempcheckout = temp.checkoutdate.toString().slice(0,16);
                                    var tempcheckin = temp.checkindate.toString().slice(0,16);
                                    
                                    $('#roomid').val(temp.roomid)
                                    $('#idroom').val(temp.roomid)
                                    
                                    $('#paymentid').val(temp.paymentid)
                                    $('#checkoutdate').val(tempcheckout)
                                    $('#checkindate').val(tempcheckin)
                                    //$('#checkindate').attr('disable','disable')
                                    $('#checkindate').prop('disabled', true);
                                    console.log("bookid ===>", bookid)
                                    $('#bookid').val(bookid)
                                    
                                }
                                if(loadBookDetail && loadBookDetail.length>0) {                              
                                    for(let i = 0; i < loadBookDetail.length; i++) {
                                        customerDetails.push({
                                            id: loadBookDetail[i].customerid
                                        })
                                    }
                                    bodyCustomerDetail();        
                                }
                                if(loadRoomServices && loadRoomServices.length > 0) {
                                    
                                    for (let i = 0; i< loadRoomServices.length ; i++) {
                                        roomServiceDetails.push({
                                            id: loadRoomServices[i].roomserviceid,
                                            quantity: loadRoomServices[i].quantity
                                        })
                                    }
                                    bodyRoomServicesDetail(); 
                                }       
                                loadBookIsPay = true;                         
                                indexMode = viewMode[2];
                                }
                                bodyRoomDetail();
                                saveRoom = true;
                            }
            })    
        }

        const loadBookDetail =  () => {
            $.ajax({
                url: '/booking/load',
                method: viewMode[0],
                dataType : "JSON",
                success:  function( data)
                {
                    const tempRoom = data.rooms
                    customers = data.customers;
                    roomServices = data.roomservices;
                    payments = data.payments;
                    htmlOptionCustomer =``;
                    htmlOptionRoom = ``;                    
                    htmlOptionRoomService = ``;
                    var html = '';     
                    
                    if(customers && customers.length > 0) {
                        for(let index = 0 ; index <customers.length  ; index++) {
                            
                            htmlOptionCustomer += `<option value="${customers[index].fullname}" 
                            data-id="${customers[index].id}" >
                                `;
                        }                        
                        htmlOptionCustomer += `
                        `;                        
                    } 
                    
                    if(roomServices && roomServices.length > 0) {
                        for(let index = 0 ; index < roomServices.length  ; index++) {
                            htmlOptionRoomService += `<option value="${roomServices[index].roomservicename}" 
                            data-id="${roomServices[index].id}" >
                                `;
                        }                        
                        htmlOptionRoomService += `
                        `;                        
                    } 

                    if(rooms && rooms.length > 0) {
                        for(var count = 0; count < rooms.length; count++)
                        {
                           htmlOptionRoom += `<option value="${rooms[count].id}">${rooms[count].roomname}</option>
                            `;
                        }  
                    }
                    
                    if(payments && payments.length >0) {
                        for(let index = 0 ; index < payments.length; index++) {
                            htmlOptionPayment += `<option value="${payments[index].id}">${payments[index].paymentname}</option>
                            ` ;
                        }
                    }
                    document.getElementById('roomid').innerHTML = htmlOptionRoom;
                    document.getElementById('paymentid').innerHTML = htmlOptionPayment;
                    statusMode = ViewModeCustomer[0];;
                    
                }
            });
            
        }
        
        const checkDate = () =>{
            let checkindate = document.getElementById("checkindate").value
            let checkoutdate = document.getElementById("checkoutdate").value
            if (checkindate && checkoutdate) {
                var date1 = new Date(checkindate);
                let date2 = new Date(checkoutdate); 
                let isDate = date2.getTime() - date1.getTime();
                if(isDate > 0) {
                    
                    return true;
                } else {
                    alert("Ngày Thuê phải lớn hơn ngày nhập?");
                    return false;
                }
            } else {
                alert("Vui lòng nhập ngày thuê và ngày trả phòng")
                return false;
            }
            
        }

        //BookDetail
        //Event Change roomid
        
        $('#roomid').on('change', function() {            
            saveRoom = false;
        });

        $('#checkindate').on('click', function() {          
            saveRoom = false;
        });

        $('#checkoutdate').on('click', function() {          
            saveRoom = false;
        });
        
        //addRoomService
        $('#addItems').click(function(){         
                let _item = document.getElementById("itemId").value;
                console.log("Items ::: ", _item);
                if(_item === "customer") {
                    $('#dynamicModalTitle').text('Add Customer');
        
                    $('#customerForm')[0].reset();
            
                    $('#action').val('Add');
            
                    $('#actionButton').text('Add');    

                    document.getElementById('listcustomer').innerHTML = htmlOptionCustomer;
            
                    $('#actionModal').modal('show');
                    statusMode = ViewModeCustomer[0];
                } else if (_item === "roomservice"){
                    console.log("RoomService::: ")
                    
                    $('#dynamicModalTitleRoom').text('Add RoomService');
        
                    $('#roomServiceForm')[0].reset();
            
                    $('#action').val('Add');
            
                    $('#actionButtonRoom').text('Add');
                    document.getElementById('listRoomService').innerHTML = htmlOptionRoomService;
            
                    $('#actionModalRoom').modal('show');
                    statusMode = ViewModeServiceDetail[0];
                } else {
                    window.alert("Bạn đã chọn sai chức năng")
                } 
                bookViewMode = viewMode[1];    
        
        });  

        $('#saveBook').click(function(event){
            if(customerDetails && customerDetails.length >0) {                
                if(checkDate() ) {
                    if(saveRoom) {
                        if(confirm("Bạn có muốn lưu?")) {
                            event.preventDefault();
                            $.ajax({
                                url:'/booking',
                                method: indexMode,
                                data: $('#bookformdetail').serialize(),
                                dataType:"JSON",
                                success:function(data)
                                {
                                    console.log("data ::::: ",data)
                                    if(data && data.success) {
                                        loadBookIsPay =false;
                                        alert("Success");
                                        window.location.reload();
                                        
                                    }                    
                    
                                }
                            });
                        }
                         
                    } else {
                        alert("Vui lòng lưu phòng trước???");
                    }
                }
                    
            } else {
                alert("Vui lòng nhập Khách hàng???")
            }
            
        });  
        
        $('#payBook').click(function(event){
            if (!loadBookIsPay) {
                alert("Vui lòng Save Trước ");
            } else {
                if(confirm(`Are you sure you want to Pay this data? `)){
                    
                    event.preventDefault();
                    $.ajax({
                        url:'/booking/success',
                        method: viewMode[2],
                        data:{
                            bookid: bookId,
                            roomid: document.getElementById("idroom").value,
                            totalmoney: totalRoom + totalRoomService,
                            paymentid: document.getElementById('paymentid').value,
                            
                        },
                        dataType:"JSON",
                        success:function(data)
                        {
                            console.log("data ::::: ",data)
                            if(data && data.success) {
                                alert("Success");

                                window.location.replace(`/invoice/${bookId}`);                                
                            }
                        }
                    });
                }
            }             
        });            
    
        $('#customerForm').on('submit', function(event){            
            console.log("Mode ::: ", statusMode);
            let valueCustomer = document.getElementById("fullname").value;
            let _id = $("#listcustomer option").filter( function() {
                return this.value == valueCustomer;
            }).data('id');
            event.preventDefault();
            if(_id) {  
                
                $.ajax({
                    url:`/customer/${_id}`,
                    method: viewMode[0],
                    dataType:"JSON",
                    beforeSend:function(){
                        $('#actionButton').attr('disabled', 'disabled');
                    },
                    success:function(data)
                    {
                        loadBookIsPay = false;
                        if (data.success) {
                            const temp = data.data
                            
                            if(bookViewMode === viewMode[1]) {
                                console.log("post")
                                customerDetails.push({
                                    id: temp.id
                                })
                            } else {
                                customerDetails[parseInt(indexRoomService-1)].id = parseInt(temp.id);
                            }                            
                        }

                        bodyCustomerDetail();
                        $('#actionButton').attr('disabled', false); 
                                                
                        $('#actionModal').modal('hide'); 
                        bookViewMode = viewMode[1];
                    }
                });
            }
            else {
                alert("Khách hàng không tồn tại")
            } 
        });

        $('#roomServiceForm').on('submit', function(event){
            console.log("Mode ::: ", statusMode);
            let valueRoomService = document.getElementById("roomservicename").value;
            let _id = $("#listRoomService option").filter( function() {
                return this.value == valueRoomService;
            }).data('id');
            let _quantity = document.getElementById("quantity").value;

            console.log("_quantity :::", _quantity)
            event.preventDefault();
            if(_id) {  
                $.ajax({
                    url:`/roomservice/${_id}`,
                    method: viewMode[0],
                    dataType:"JSON",
                    beforeSend:function(){
                        $('#actionButtonRoom').attr('disabled', 'disabled');
                    },
                    success:function(data)
                    {
                        loadBookIsPay = false;
                        console.log("data ::: =>",data)
                        if(data.success) {
                            const temp = data.data;
                            console.log("OKKKKK :::  ", statusMode)
                            if(statusMode === ViewModeServiceDetail[0]) {
                                roomServiceDetails.push({
                                    id: temp.id,
                                    quantity: _quantity
                                })
                            } else {
                                roomServiceDetails[parseInt(indexRoomService-1)].id = parseInt(temp.id);
                                roomServiceDetails[parseInt(indexRoomService-1)].quantity = parseInt(_quantity);
                            }                            
                        }                

                        bodyRoomServicesDetail();
                        $('#actionButtonRoom').attr('disabled', false); 
                        
                        $('#actionModalRoom').modal('hide'); 
                        statusMode = ViewModeServiceDetail[0];                       
                    }
                });
            }
            else {
                alert("RoomService không tồn tại")
            } 
            });        

            //Edit dang bị lỗi
        $(document).on('click', '.editBookdetail', function(){
            
            console.log("editBookdetail")            
    
            var id = $(this).data('id');

            indexCustomer = $(this).data('index');
            
            $('#dynamicModalTitle').text('Edit Data');
    
            $('#customerForm')[0].reset();

            $('#action').val('Edit');
    
            $('#actionButton').text('Edit');

            document.getElementById('listcustomer').innerHTML = htmlOptionCustomer;
            
            $('#actionModal').modal('show');
            $.ajax({
                url:`/customer/${id}`,
                method: viewMode[0],
                dataType:"JSON",
                success:function(data)
                {
                    console.log("Data::::", data);
                    $('#fullname').val(data.fullname);   
                    statusMode = ViewModeCustomer[1]; 
                    bookViewMode = viewMode[2];
                }
            });
        });
        
        $(document).on('click', '.editRoomservice', function(){
            
            console.log("editRoomservice")            
    
            var id = $(this).data('id');
            indexRoomService = $(this).data('index');
            var temp = `quantityTemp${id}`
            var tempQuantity = document.getElementById(temp).value;
            $('#dynamicModalTitleRoom').text('Edit Data');

            $('#roomServiceForm')[0].reset();

            $('#action').val('Edit');
    
            $('#actionButtonRoom').text('Edit');

            document.getElementById('listRoomService').innerHTML = htmlOptionRoomService;
    
            $('#actionModalRoom').modal('show');  
            
            $.ajax({
                url:`/roomservice/${id}`,
                method:viewMode[0],
                dataType:"JSON",
                success:function(data)
                {      
                    //set quantity cua roomservice đó    
                       
                    $('#roomservicename').val(data.roomservicename);
                    $('#quantity').val(tempQuantity)
                    statusMode = ViewModeServiceDetail[1];
                }
            });           
    
        });
    
        //delete chuỗi theo ký tự đặc biệt <tr / t r >
        $(document).on('click', '.deleteBookdetail', function(){
    
            var id = $(this).data('id');
    
            if(confirm("Are you sure you want to delete this data?"))
            {
                loadBookIsPay = false;
                if(id && parseInt(id) > 0){

                    customerDetails.splice(parseInt(id-1),1);
                    bodyCustomerDetail();

                }
            }
    
        });
        
        $(document).on('click', '.deleteRoomservice', function(){
    
            var id = $(this).data('id');
            
            if(confirm(`Are you sure you want to delete this data? ${id}`))
            {
                loadBookIsPay = false;
                if(id && parseInt(id) > 0){
                    roomServiceDetails.splice(parseInt(id-1),1);
                    bodyRoomServicesDetail();
                }                
            }
        });
    });
    
    </script>