<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
</head>

<body style="margin-bottom: 30px;">

    <%- include ('./partials/navigation') %>
    <h1>Khách sạn ABC</h1>
    <div class="container">
            <%- body %>
    </div>
    <%- include ('./partials/footer') %>

</body>

</html>