<div class="container">

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <button type="button" id="changepass" class="btn btn-success float-start">Change Password</button>
                </div> 
            </div>
        </div>
        
    </div>

</div>
<div class="modal" tabindex="-1" id="actionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="sample_form" class="sample_form">
                <div class="modal-header" id="dynamicModalTitle">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 ">
                        <label class="form-label">Old Password</label>
                        <input type="password" name="oldpassword" id="oldpassword" class="form-control oldpassword" required />
                    </div>
                    <div class="mb-3 ">
                        <label class="form-label">New Password</label>
                        <input type="password" name="newpassword" id="newpassword" class="form-control newpassword" required/>
                    </div>        
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="actionButton">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const user = JSON.parse(localStorage.getItem('user'));

    var token = "";
    if (user && user.accessToken) {        
        token = `Bearer ${user.accessToken}`
               
    }
    
    $(document).ready( function(){      

        $('#changepass').click(function(){
            $('#dynamicModalTitle').text('Change Password');
    
            $('#sample_form')[0].reset();
    
            $('#action').val('Add');
    
            $('#actionButton').text('Add');
    
            $('#actionModal').modal('show');
    
        });

        $('#sample_form').on('submit', function(event){    
            event.preventDefault();
            $.ajax({
                url:'/admin/changepass',
                method:"PUT",
                headers: {
                    'Authorization':token
                },
                data:$('#sample_form').serialize(),
                dataType:"JSON",
                beforeSend:function(){
                    $('#actionButton').attr('disabled', 'disabled');
                },
                success:function(data)
                {                    

                    if(data && data.success){
                        alert("Đổi mật khẩu thành công")
                        window.location.assign('/admin/login')
                    } else {
                        alert("Wrong password")
                    }
                    
                }
            });

        });

    
        
    });
    
</script>