<div class="container">

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <button type="button" id="changepass" class="btn btn-success float-start">Change Password</button>
                </div> 
            </div>
        </div>
        
    </div>

</div>
<div class="modal" tabindex="-1" id="actionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="sample_form" class="sample_form">
                <div class="modal-header" id="dynamicModalTitle">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 ">
                        <label class="form-label">username</label>
                        <input type="text" name="username" id="username" class="form-control username" required />
                    </div>
                    <div class="mb-3 input-group input-group-outline">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control password" required/>
                    </div> 
                    <div class="mb-3 input-group input-group-outline">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" name="confirmpassword" id="confirmpassword" class="form-control confirmpassword" required/>
                    </div>      
                                    
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="actionButton">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    
    $(document).ready( function(){            
        
        
    });
    
    </script>